body {
  padding: 0;
  background-color: #ccc;
}
h1 {
  margin: 0;
  padding: 0;
}
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}


.brand {
  display: flex;
  background-color: #ccc;
  border-bottom: 2px solid black;
}
.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 80px;
}
.side-menu {
  background-color: #ccc;
}
.sort {

}
.controls {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
fieldset {
  margin: 0 15px;
}

.btn {
  margin: 3px;
}
.chart {
  margin-bottom: 20px;
  min-width: 75%
}

@media screen and (min-width: 768px){
  .dashboard {
    margin-bottom: 0
  }
}